{% extends '@fromselect/layout.twig' %}

{% block main %}
    <nav class="table-navigation">
        <h2>Table navigation</h2>
        <ul>
            <li class="current"><a href="{{ path_for('database.show', {'database': current.database}) }}">Tables</a></li>
            <li><a href="#">Operations</a></li>
        </ul>
    </nav>
    <div class="content">
        <pre class="query"><code><span class="query-keyword">SHOW TABLES IN</span> `{{ current.database }}`</code></pre>
        <form action="#" method="post" class="actions" id="actions">
            <span>Selected:</span>
            <input type="submit" value="Delete">
        </form>
        <table class="main-table">
            <thead>
                <tr>
                    <th></th>
                    <th><a href="#">Table</a></th>
                    <th><a href="#">Engine</a></th>
                    <th><a href="#">Row count</a></th>
                    <th><a href="#">Collation</a></th>
                </tr>
            </thead>
            <tbody>
                {% for table in tables %}
                    <tr>
                        <td><input type="checkbox" name="row[]" value="{{ table.name }}" form="actions"></td>
                        <td>{{ table.name }}</td>
                        <td>{{ table.engine }}</td>
                        <td>{{ table.rowCount|default(0) }}</td>
                        <td>{{ table.collation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
