{% extends '@fromselect/layout.twig' %}

{% import '@fromselect/parts/macros.twig' as macros %}

{% block main %}
    <nav class="navbar">
        <h2>Database navigation</h2>
        <ul>
            <li class="current"><a href="{{ path_for('database.show', {'database': current.database}) }}">Tables</a></li>
            <li><a href="#">Operations</a></li>
        </ul>
    </nav>
    <div class="content">
        {{ macros.query(query.query, query.executionTime, '#') }}
        <form action="#" method="post" class="actions" id="actions">
            <span>Selected:</span>
            <input type="submit" value="Delete">
        </form>
        <table class="main-table">
            <thead>
                <tr>
                    <th></th>
                    <th><a href="#">Table</a></th>
                    <th><a href="#">Engine</a></th>
                    <th><a href="#">Row count</a></th>
                    <th><a href="#">Collation</a></th>
                </tr>
            </thead>
            <tbody>
                {% for table in tables %}
                    <tr>
                        <td><input type="checkbox" name="row[]" value="{{ table.name }}" form="actions"></td>
                        <td>{{ table.name }}</td>
                        <td>{{ table.engine }}</td>
                        <td>{{ table.rowCount|default(0) }}</td>
                        <td>{{ table.collation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
