<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title '' %}FromSelect</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/style.css">
        {% block head '' %}
    </head>
    <body>
        <div class="sidebar">
            <header class="header">
                <h1><a href="{{ base_url() }}"><span>From</span>Select</a></h1>
            </header>
            <nav class="databases">
                <form action="#" method="post" class="filter">
                    <label for="filter">Filter databases and tables</label>
                    <input type="search" id="filter" name="filter" placeholder="Filter list..." required>
                </form>
                <h2>Databases</h2>
                <ul class="list">
                    <li class="new"><a href="#">Add new database</a></li>
                    {% for database, tables in databaseTree %}
                        <li {{ current.database == database ? 'class="current expanded"' }}>
                            <a href="{{ path_for('databases.show', {'database': database}) }}">
                                <button aria-label="Expand">{{ current.database == database ? '–' : '+' }}</button>
                                {{ database }}
                            </a>
                            <ul>
                                {% for table in tables %}
                                    <li {{ current.table == table ? 'class="current"' }}>
                                        <a href="{{ path_for('tables.show', {'database': database, 'table': table}) }}">{{ table }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="main">
            <nav class="navbar">
                {% block navbar %}
                    {% if breadcrumbs is defined %}
                        <h2>Breadcrumbs</h2>
                        <ul class="breadcrumbs">
                            {% for crumb in breadcrumbs %}
                                <li><span><a href="{{ crumb.url }}">{{ crumb.name }}</a></span></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <h2>Global links</h2>
                    <ul class="nav-links">
                        {% if logged %}
                            <li><a href="{{ path_for('connection.disconnect') }}">Disconnect</a></li>
                        {% else %}
                            <li><a href="{{ path_for('connection.connect') }}">Connect to different server</a></li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </nav>
            {% block main '' %}
        </main>
        {% block scripts %}
            <script src="{{ base_url() }}/assets/sidebar.js"></script>
        {% endblock %}
    </body>
</html>
