<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title '' %}FromSelect</title>
        <link rel="stylesheet" href="{{ base_url() }}/assets/style.css">
        {% block head '' %}
    </head>
    <body>
        <div class="sidebar">
            <header class="header">
                <h1><a href="{{ base_url() }}"><span>From</span>Select</a></h1>
            </header>
            <nav class="databases">
                <form action="#" method="post" class="search">
                    <label for="search">Search for a database</label>
                    <input type="search" id="search" name="search" placeholder="Filter list" required>
                </form>
                <h2>Databases</h2>
                <ul class="list">
                    <li class="new"><a href="#">Add new database</a></li>
                    {% for database, tables in databaseTree %}
                        <li {{ current.database == database ? 'class="current expanded"' }}>
                            <a href="{{ path_for('database.show', {'database': database}) }}">
                                <button aria-label="Expand">{{ current.database == database ? '–' : '+' }}</button>
                                {{ database }}
                            </a>
                            <ul>
                                {% for table in tables %}
                                    <li {{ current.table == table ? 'class="current"' }}>
                                        <a href="{{ path_for('table.show', {'database': database, 'table': table}) }}">{{ table }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <main class="main">
            {% block main '' %}
        </main>
        {% block scripts %}
            <script src="{{ base_url() }}/assets/sidebar.js"></script>
        {% endblock %}
    </body>
</html>
