{% extends '@fromselect/layout.twig' %}

{% import '@fromselect/parts/macros.twig' as macros %}

{% block navbar %}
    <h2>Table navigation</h2>
    <ul class="nav-links">
        <li class="current"><a href="{{ path_for('tables.show', {'database': current.database, 'table': current.table}, queryParams) }}">Tables</a></li>
        <li><a href="{{ path_for('tables.structure', {'database': current.database, 'table': current.table}) }}">Structure</a></li>
        <li><a href="#">Operations</a></li>
    </ul>
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="content">
        {{ macros.query(query.query, query.executionTime, '#') }}
        <div class="columns">
            {{ macros.dataNavigation(pagination) }}
            <form action="#" method="post" class="actions" id="actions">
                <span>Selected:</span>
                <input type="submit" value="Delete">
            </form>
        </div>
        <table class="data-table optimal-width">
            {% set columns = data is not empty ? data[0]|keys : columns %}
            <thead>
                <tr>
                    <th></th>
                    {% for column in columns %}
                        {% set order = {'order': column == queryParams.sort ? (not queryParams.order ?: null) : null} %}
                        <th {{ column == queryParams.sort ? 'class="sorted"' }}>
                            <a href="{{ path_for(route.name, route.arguments, queryParams|merge({'sort': column})|merge(order)) }}">{{ column }}</a>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>
                            <label for="check{{ loop.index }}">Check</label>
                            <input type="checkbox" id="check{{ loop.index }}" name="row[]" value="lol" form="actions">
                        </td>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr><td colspan="{{ columns|length + 1 }}">No rows found.</td></tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    {% for column in columns %}
                        {% set order = {'order': queryParams.sort == column ? (not queryParams.order ?: null) : null} %}
                        <th {{ column == queryParams.sort ? 'class="sorted"' }}>
                            <a href="{{ path_for(route.name, route.arguments, queryParams|merge({'sort': column})|merge(order)) }}">{{ column }}</a>
                        </th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
        <div class="columns">
            {{ macros.dataNavigation(pagination) }}
            <form action="#" method="post" class="actions" id="actions">
                <span>Selected:</span>
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/data-table.js"></script>
{% endblock %}
