{% extends '@fromselect/layout.twig' %}

{% block navbar %}
    <h2>Table navigation</h2>
    <ul class="nav-links">
        <li><a href="{{ path_for('tables.show', {'database': current.database, 'table': current.table}) }}">Tables</a></li>
        <li class="current"><a href="{{ path_for('tables.structure', {'database': current.database, 'table': current.table}) }}">Structure</a></li>
        <li><a href="#">Operations</a></li>
    </ul>
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="content">
        <h3>Columns</h3>
        <table class="main-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Nullable</th>
                    <th>Default</th>
                    <th>Character set</th>
                    <th>Collation</th>
                    <th><abbr title="AUTO_INCREMENT">A_I</abbr></th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for column in columns %}
                    <tr>
                        <td>{{ column.name }}</td>
                        <td>{{ column.columnType }}</td>
                        <td>{{ column.nullable ? 'Yes' : 'No' }}</td>
                        <td>{{ column.default }}</td>
                        <td>{{ column.characterSet }}</td>
                        <td>{{ column.collation }}</td>
                        <td>{{ column.autoIncrementable ? 'Yes' }}</td>
                        <td>{{ column.comment }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Nullable</th>
                    <th>Default</th>
                    <th>Character set</th>
                    <th>Collation</th>
                    <th><abbr title="AUTO_INCREMENT">A_I</abbr></th>
                    <th>Comment</th>
                </tr>
            </tfoot>
        </table>
        <h3>Indexes</h3>
        <table class="main-table">
            <thead>
                <tr>
                    <th>Index name</th>
                    <th>Column name</th>
                    <th>Collation</th>
                    <th>Type</th>
                    <th>Nullable</th>
                    <th>Unique</th>
                    <th>Cardinality</th>
                    <th>Packed</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for index in indexes %}
                    <tr>
                        <td>
                            {{ indexes[loop.index0 - 1].name != index.name ? index.name }}
                        </td>
                        <td>{{ index.columnName }}</td>
                        <td>{{ index.collation }}</td>
                        <td>{{ index.type }}</td>
                        <td>{{ index.nullable ? 'Yes' : 'No' }}</td>
                        <td>{{ index.unique ? 'Yes' }}</td>
                        <td>{{ index.cardinality }}</td>
                        <td>{{ index.packed == 0 ? 'No' : index.packed }}</td>
                        <td>{{ index.comment }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No indexes found.</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Index name</th>
                    <th>Column name</th>
                    <th>Collation</th>
                    <th>Type</th>
                    <th>Nullable</th>
                    <th>Unique</th>
                    <th>Cardinality</th>
                    <th>Packed</th>
                    <th>Comment</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
