{% macro query(query, executionTime, describeUrl) %}
    <div class="query">
        <code>{{ query|highlight('mysql')|raw }}</code>
        <ul>
            <li title="Query execution time">{{ (executionTime * 1000)|round(3) }}ms</li>
            <li><a href={{ describeUrl }}>EXPLAIN</a></li>
        </ul>
    </div>
{% endmacro %}

{% macro dataNavigation(pagination) %}
    <nav class="data-navigation">
        <h2>Navigation</h2>
        <p class="info">
            Showing {{ pagination.firstRow + 1 }} - {{ pagination.firstRow + pagination.perPage }}
            of all {{ pagination.count }} results.
        </p>
        <ul class="pages">
            {% if pagination.currentPage > 1 %}
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': 1})) }}"><< First</a></li>
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': pagination.currentPage - 1})) }}">< Previous</a></li>
                {% for i in 1..3 if i + 2 < pagination.currentPage %}
                    <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': i})) }}">{{ i }}</a></li>
                {% endfor %}
                {% if pagination.currentPage - 3 > 3 %}<li class="dots">...</li>{% endif %}
            {% endif %}
            {% for i in (pagination.currentPage - 2)..(pagination.currentPage + 2) if i >= 1 and i <= pagination.pagesCount %}
                <li {{ i == pagination.currentPage ? 'class="current"' }}>
                    <a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': i})) }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if pagination.currentPage < pagination.pagesCount %}
                {% if pagination.currentPage + 3 < pagination.pagesCount - 2 %}<li class="dots">...</li>{% endif %}
                {% for i in (pagination.pagesCount - 2)..pagination.pagesCount if i - 3 > pagination.currentPage %}
                    <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': i})) }}">{{ i }}</a></li>
                {% endfor %}
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': pagination.currentPage + 1})) }}">Next ></a></li>
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': pagination.pagesCount})) }}">Last >></a></li>
            {% endif %}
        </ul>
        <form action="{{ path_for(route.name, route.arguments, queryParams) }}" method="get">
            {% for key, value in queryParams if key not in ['page', 'perPage'] %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
            <label for="jump">Jump to page:</label>
            <input type="number" name="page" id="jump" value="{{ pagination.currentPage }}" min="1" max="{{ pagination.pagesCount }}" required>
            <label for="perPage">Rows per page:</label>
            <input type="number" name="perPage" id="perPage" value="{{ pagination.perPage }}" min="1" required>
            <input type="submit" value="Przejdź">
        </form>
    </nav>
{% endmacro %}
