{% macro query(query, executionTime, describeUrl) %}
    <div class="query">
        <code>{{ query|highlight('mysql')|raw }}</code>
        <ul>
            <li title="Query execution time">{{ (executionTime * 1000)|round(3) }}ms</li>
            <li><a href={{ describeUrl }}>EXPLAIN</a></li>
        </ul>
    </div>
{% endmacro %}

{% macro dataNavigation(pagination) %}
    <nav class="data-navigation">
        <h2>Navigation</h2>
        <ul class="pages">
            {% if pagination.currentPage > 1 %}
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': 1})) }}"><< First</a></li>
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': pagination.currentPage - 1})) }}">< Previous</a></li>
                {% for i in 1..3 if i + 3 < pagination.currentPage %}
                    <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': i})) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="dots">...</li>
            {% endif %}
            {% for i in (pagination.currentPage - 3)..(pagination.currentPage + 3) if i >= 1 and i <= pagination.pagesCount %}
                <li {{ i == pagination.currentPage ? 'class="current"' }}>
                    <a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': i})) }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if pagination.currentPage < pagination.pagesCount %}
                <li class="dots">...</li>
                {% for i in (pagination.pagesCount - 2)..pagination.pagesCount if i - 3 > pagination.currentPage %}
                    <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': i})) }}">{{ i }}</a></li>
                {% endfor %}
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': pagination.currentPage + 1})) }}">Next ></a></li>
                <li><a href="{{ path_for(route.name, route.arguments, queryParams|merge({'page': pagination.pagesCount})) }}">Last >></a></li>
            {% endif %}
        </ul>
        <form action="{{ path_for(route.name, route.arguments, queryParams) }}" method="get">
            <label for="jump">Jump to page:</label>
            <input type="number" name="page" id="jump" value="{{ pagination.currentPage }}" min="1" max="{{ pagination.pagesCount }}" required>
            <label for="perPage">Rows per page:</label>
            <input type="number" name="perPage" id="perPage" value="{{ pagination.perPage }}" min="1" required>
            <input type="submit" value="Przejdź">
        </form>
    </nav>
{% endmacro %}
